<app-navbar></app-navbar>

<div class="details">

    <img src="../../assets/fsVK/61QSMyybTkL._SX522_.jpg " alt="">
    <div class="discrpt">

        <h2>UNIQUE MINIATURE,<br>Virat Kohli Laser<br> Engraved Key Chain<br> with T20 World Cup <br>
            Limited Edition.<br>T20 World Cup <br>Memorabilia<br> – Virat Kohli Laser<br> Engraved Keychain.
<br>Stainless steel product</h2>

    </div>
</div>
<div class="price">
    <h1><b> - 55 % off</b></h1>
    <h1> ₹340</h1>
    <div class="mrp">
        <P> M.R.P : <s>₹599</s></P>
    </div>
</div>
<div class="productdetails">
    <h2>About this item</h2>
    <p>
        Virat Kohli Collectible Key Chain – Perfect for die-hard fans of the Indian cricket legend.
        Laser Engraved Virat Kohli Design – High-precision engraving of Virat Kohli’s iconic cricket pose.
        T20 World Cup Special Edition – Commemorates the T20 World Cup, making it a must-have for cricket enthusiasts.
        Virat Kohli Merchandise – A unique addition to any Virat Kohli or cricket memorabilia collection.
        High-Quality Metal Key Chain – Durable and stylish, designed for everyday use or display.
        Ideal Gift for Cricket Fans – Great for birthdays, celebrations, or any special occasion for cricket lovers.</p>


    <h2> Product details</h2>
    <b>Colour</b> Clear Acrylic <br>
    <b> Material</b> Acrylic <br>
    <b>Brand</b> UNIQUE MINIATURE<br>
    <b>Closure</b> typeDouble Ring<br>
    <b>Country of Origin </b>India<br>
    <br>
    <h2>Additional Information</h2>
    <b>Manufacturer</b> UNIQUE MINIATURE<br>
    <b>Packer</b> UNIQUE MINIATURE, Building no 3/197 Near Padikkala nagar, bus stop Nellikunnu Thirssur 680005<br>
    <b>Item Weight </b>75 g<br>
    <b>Item Dimensions </b> LxWxH10 x 60 x 60 Millimeters<br>
    <b>Generic Name </b> Key Chain<br>
</div>

<app-footer></app-footer>