

<div class="discription">
  <h1>

    Welcome to Fantasy Store: Where Heroes Live Forever
  </h1>
  <p>
    At FanFantasies, we celebrate the passion and admiration for the icons that inspire millions. Whether you’re a
    die-hard cricket fan who looks up to Virat Kohli, a football enthusiast idolizing Cristiano Ronaldo, or a superhero
    lover who dreams of being Spiderman, we’ve got something special for you!
    <br>
    <b>Our Mission:</b>To bring your fantasies to life by offering a wide range of exclusive merchandise, collectibles,
    and experiences inspired by the people and characters you love.
  </p>
</div>

<!--COROSEL-->


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.one8.com/img/who_we_are/virat_kohli_slider2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.one8.com/img/who_we_are/the_man.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.one8.com/img/who_we_are/virat_kohli_slider1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!--corosel ends-->

<!--cards (explore)-->


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="cards" >
      <img src="https://media.sportstiger.com/players/ViratKohli22-06-2021-06-42-06.png" alt="">
      <h1>Virat Kohli</h1>
      <p> Strating from $15</p>
      <button class="btn btn-success" routerLink="/vk">Explore now</button>
    </div>
  </div>

  <div class="col">
    <div class="cards" >
      <img src="https://avatarfiles.alphacoders.com/325/thumb-350-325580.webp" alt="">
      <h1>Spiderman</h1>
      <p>Strating from $20</p>
      <button class="btn btn-success " (click)="onclick2()" >Explore now</button>
    </div>
  </div>

  <div class="col">
    <div class="cards" >
      <img src="https://avatarfiles.alphacoders.com/305/thumb-350-305541.webp" alt="">
      <h1>Ronaldo</h1>
      <p>Strating from $10</p>
      <button class="btn btn-success" (click)="onclick3()">Explore now</button>
    </div>

  </div>
  <div class="col">
    <div class="cards" >
      <img src="https://avatarfiles.alphacoders.com/344/thumb-350-344926.webp" alt="">
      <h1>Frozen</h1>
      <p> Strating from $15</p>
      <button class="btn btn-success" (click)="onclick4()">Explore now</button>
    </div>
  </div>

  <div class="col">
    <div class="cards">
      <img src="https://m.media-amazon.com/images/I/61FLYUUPsFL._AC_UF350,350_QL80_.jpg" alt="">
      <h1>Lord</h1>
      <p> Strating from $15</p>
      <button class="btn btn-success" (click)="onclick5()">Explore now</button>
    </div>
  </div>


  <div class="col">
    <div class="cards">
      <img src="https://cdn11.bigcommerce.com/s-89ffd/products/142746/images/517368/4530956157610_69ac03fa04f8b90727024a998e5e1de3__78469.1708404213.350.350.jpg?c=2" alt="">
      <h1>Shinchan</h1>
      <p> Strating from $15</p>
      <button class="btn btn-success" (click)="onclick6()">Explore now</button>
    </div>
  </div>

  

</div>

